@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Julius Sans One", "Fustat", sans-serif;
}

* {
    /* outline: auto; */
}

@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.itemContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25em;
    height: max-content;
}

.item{
    /* outline: auto; */
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInSlideIn 0.5s ease-out forwards;
}

.item > button {
    z-index: 1;
    /* position: absolute; */
    width: fit-content;
    height: 3em;
    top: 50%;
    margin-inline: 1em;
}

.item .carouselImg {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.item .carouselImg > img{
    z-index: -1;
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.item .carouselImg > img[data-active] {
    opacity: 1;
    z-index: 0;
    transition-delay: 0ms;
}

.item .carouselDots{
    z-index: 1;
    position: absolute;
    bottom: 1em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.item .carouselDots > span{
    z-index: 1;
    width: 1em;
    height: 1em;
    background-color: black;
    border-radius: 1em;
}

.item .carouselDots > span[data-active] {
    background-color: gray;
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
}

.sectionContainer-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
}

.sectionContainer-title > * {
    margin-inline: 0;
    text-align: center;
}

.sectionContainer-title > span {
    border: 1px black solid;
    flex-grow: 1;
    margin-inline: 1em;
}  

.sectionContainer-title > p {
    font-size: 2.5em;
}

.catalogue{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}