<section class="popUpBackground">
    <div class="popUp-close">
        <h1>Close</h1>
        <img src="../../assets/icons/x-close.svg" alt="x" class="closeIcon">
    </div>

    <div class="popUp-item-inspect-container">
        <template class="item"></template>
        <section class="popUp-contact-container">
            <p class="itemDescription"></p>
            <div class="popUp-contact">
                <p>Contact for qouted price</p>
                <button>Go to Contact</button>
            </div>
        </section>
    </div>
</section>