<section class="galleryPopup-Background">
    <section class="galleryPopup">
        <section class="popUpContainer">
            <div class="popUpHeader">
                <img src="../../assets/icons/x-close.svg" alt="x" class="closeIcon">
                <h1>Close</h1>
            </div>
        </section>
        <hr> 
        <section>
            <div class="popup-title">
                <h1>Material</h1>
            </div>
            <div class="buttonContainers material">
            </div>
        </section>
        <hr>
        <section>
            <div class="popup-title">
                <h1>Stone</h1>
            </div>
            <div class="buttonContainers stone">
            </div>
        </section>
        <hr>
    </section>
</section>