html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #fff;
}

.main-content {
  flex: 1;
}

.contactUsBody {
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 60px;
}

h2 {
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.4;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-box {
  border: 2px solid #333;
  padding: 40px 40px;
  width: 320px;
  min-height: 180px;
  text-align: left;
  background: #fff;
  border-radius: 8px;
}

.icon-label {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 15px;
}

.icon {
  width: 36px;
  height: auto;
}

h2 {
  font-size: 26px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Fustat", sans-serif;
  margin: 0;
  font-size: 22px;
}

p {
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

strong {
  font-family: "Fustat", sans-serif;
}

#inqSec {
  display: flex;
  justify-content: center;
}

#inqForm {
  width: 70%;
  padding: 1em;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;

  margin-bottom: 4em;
}

#inqForm > h1 {
  padding-block: 0.5em;
}

#inqForm > form {
  width: 60%;
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form > label {
  font-weight: bold;
}

form > input,
form > textarea {
  height: 3em;
  padding-inline: 0.5em;
}

form > textarea {
  resize: none;
  padding-top: 1em;
  padding-bottom: 3em;
  scrollbar-width: none;
}

form > button {
  background-color: black;
  color: white;
  padding-block: 1em;
  font-weight: bold;
  font-family: "Fustat";
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1px black inset;

    background-color: white;
    color: black;
  }
}

.inputSuccess {
  border-color: green;
  border-width: 5px;
  font-family: "Fustat";
}

.inputError {
  border-color: red;
  border-width: 5px;
}

.formSuccess,
.formError {
  font-family: "Fustat";
}

/* ======================== MOBILE CONTACT ======================== */
@media only screen and (max-width: 550px) {
  .contact-box {
    border: none;
    border-block: groove 3px;
    border-radius: 0px;

    padding: 1.5rem;
    margin-block: 0;
  }

  .contact-wrapper {
    gap: 0;
  }

  .daysAvailable {
    padding: 1rem;
    background: rgb(200 200 200 / 10%);
  }

  #inqForm {
    width: 90%;
    padding-inline: 0;
  }

  #inqForm > h1 {
    font-size: 2em;
  }

  #inqForm > form {
    width: 95%;
  }

  form > label {
    font-size: 1.5em;
  }
}