/* ======================== INFO TAB ======================== */
.infoBar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1%;
  margin-inline: 5%;
  background: white;
}

.infoBar h2 {
  font-family: "Fustat", sans-serif;
  font-weight: 400;
}

.infoSwitch {
  border: none;
  font-family: "Fustat", sans-serif;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  color: white;
  background: black;
  padding-block: 0.75em;  
  padding-inline: 1.5em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  width: max-content;

  &:hover {
    box-shadow: 0 0 0 0.1em black inset;
    color: black;
    background: white;
  }
}

.infoSwitch span {
  margin: auto;
  padding: auto;
  width: 50%;
  font-family: "Fustat", sans-serif;
}
.infoSwitch input {
  opacity: 0;
  margin: auto;
  padding: auto;
}

.infoNote {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.infoNote h2 {
  width: fit-content;
}

.infoNote img {
  height: 40px;
  width: auto;
}

/* ======================== SELECT TAB ======================== */
#selectionBar {
  z-index: 500;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-inline: 0;
  margin-inline: 20em;
  gap: 0.5em;
}

.selectionLbl h3 {
  font-family: "Fustat", sans-serif;
  text-align: center;
}

.selectionLbl {
  cursor: pointer;
  background: white;
  padding: 0.2em;

  transition: 0.25s ease-in;
  height: auto;
  width: 20em;
  border-bottom: solid thick whitesmoke;
}

.selectionLbl:hover{
  border-bottom: solid thin gray;
}

.selectionLbl img {
  display: block;
  margin: 0px auto;

  height: 50px;
  width: 50px;
}

.galleryRadio {
  display: none;
  cursor: crosshair;
}
.galleryRadio:checked + .selectionLbl {
  border-bottom: solid thick black;
}

/* ======================== MAIN GALLERY ======================== */
.catalogue {
  width: 100%;
  height: fit-content;
  padding-block: 1.5em;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.itemContainer {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.itemContainer .item{
  cursor: pointer;
}

.item {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInSlideIn 0.5s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.item .carouselImg {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.item .carouselImg > img {
  z-index: -1;
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.item .carouselImg > img[data-active] {
  opacity: 1;
  z-index: 0;
  transition-delay: 0ms;
}

.item .carouselDots {
  z-index: 1;
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.item .carouselDots > span {
  z-index: 1;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 1em;
  transition: 200ms background-color ease-in-out;
}

.item .carouselDots > span[data-active] {
  background-color: black;
}

.carouselPrevBtn, .carouselNextBtn {
  all: unset;
  z-index: 1;
  margin-inline: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: max-content;
  height: 7%;
}

.carouselPrevBtn > img, .carouselNextBtn > img{
  width: 100%;
  height: 100%;
}

.carouselPrevBtn > img{
  transform: scaleX(-1);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  justify-content: center;
  align-items: center;
  animation: fadeInSlideIn 0.25s ease-out forwards;
  padding-bottom: 1.5em;
}

.sectionContainer-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: min-content;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  /* gap: 1em; */
}

.sectionContainer-title > * {
  margin-inline: 0;
  text-align: center;
}

.sectionContainer-title > span {
  border: 1px black solid;
  flex-grow: 1;
  margin-inline: 1em;
}

.sectionContainer-title > p {
  font-size: 2.5em;
}

/* ======================== POPUP =================================*/

.galleryPopup-Background {
  min-height: 490px;
  z-index: 11000;
  position: fixed;
  top: 0;
  left: 150%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.galleryPopup-Background[data-active] {
  transform: translateX(-150%);
}

.galleryPopup {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-inline: 2.5em;
  background-color: white;
  filter: drop-shadow(3px 0px 10px #666);
}

.popUpHeader,
.galleryPopup section {
  max-width: 360px;
  width: 100%;
}

.galleryPopup .popUpContainer {
  width: 100%;
  height: fit-content;
}

.popUpHeader {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.closeIcon {
  width: 20px;
  height: auto;
}

.popUpHeader h1 {
  font-size: 16px;
  font-weight: 500;
}

.popup-title {
  display: flex;
  justify-content: flex-start;
}

.popup-title h1 {
  margin: 0;
  padding-top: 30px;
}

.buttonContainers {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.75em;
  justify-content: flex-start;
  margin: 10px 0 20px 0;
  padding-bottom: 10px;
}

.galleryPopup input {
  appearance: none;
  display: none;
}

.galleryPopup label input ~ span {
  padding: 4px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  background-color: #D9D9D9;
  transition: background-color 0.25s ease-in-out; 
  color: #000;
}

.galleryPopup label input:hover ~ span {
  background-color: #cfcfcf;
}

.galleryPopup label input:checked ~ span {
  border-bottom: 1px black solid;
}

.galleryPopup hr {
  width: 100%;
}

/* ============================= */

.popUpBackground {
    min-width: 320px;
    min-height: 490px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); 
    display: none;
    z-index: 11000;
}

.popUpBackground[data-active] {
    display: flex;
}

.popUpBackground[data-active] .popUp-item-inspect-container{
    display: flex;
    animation: fadeInSlideIn 0.2s ease-out forwards;
}

.popUp-item-inspect-container {
    overflow: hidden;
    display: inline-flex;
    width: 70%;
    aspect-ratio: 4 / 2.25;
    filter: drop-shadow(5px 5px 10px #666);
}

.popUp-item-inspect-container > .item {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.popUp-item-inspect-container > .popUp-contact-container {
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.popUp-item-inspect-container > .popUp-contact-container * {
    text-align: center;
}

.popUp-contact-container > p {
    font-size: 1.5em;
    font-weight: bold;
    padding-block: 0.5em;
}

.popUp-contact-container > * {
    max-width: 75%;
    width: fit-content;
}

.popUp-contact-container > .popUp-contact > button {
    all: unset;
    cursor: pointer;
    color: white;
    background: black;
    border: solid thick black;
    padding: 0.7em;
    transition: 0.1s ease-in-out;
    margin-block: 0.5em;
    &:hover {
      color: black;
      background: white;
      border: solid thin black;
      padding: 1.05em;
    }
}

.popUp-close {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    gap: 0.75em;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.popUp-close > * {
    font-size: 2em;
}

.popUp-item-inspect-container > .item {
  animation: none;
}

.popUp-item-inspect-container > .item:hover {
  box-shadow: none;
}

/* ======================== portrait GALLERY ======================== */

@media screen and (orientation: portrait) {
  .popUp-item-inspect-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    aspect-ratio: unset;
    width: 72%;
  }

  .popUp-item-inspect-container > .item {
    width: 100%;
    height: auto;
  }

  .popUp-item-inspect-container > .popUp-contact-container {
    padding-block: 0.5em;
  }
}

/* ======================== MOBILE GALLERY ======================== */
@media only screen and (max-width: 1200px) {
  #selectionBar {
    margin: 1.7em;
    padding-inline: 5em;
  }

  .selectionLbl {
    height: 70%;
    width: 70%;
  }
  .selectionLbl img {
    height: 50%;
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
    .header {
      position: relative;
    }
    .infoNote {
      font-size: 70%;
    }
    .infoBar {
      position: sticky;
      z-index: 100;
      top: 0;
      margin: 0;
      padding-inline: 2em;
      padding-block: 1em;
      border-bottom: solid thin gray;
    }
    #selectionBar {
      overflow: visible;
      background: white;
      z-index: 100;
      position: sticky;
      top: 6.5em;
      margin: 0;
      border: solid thick white;
    }
  }

@media only screen and (max-width: 550px) {
  #selectionBar {
    padding-inline: 0;
    gap: 0.5em;
    top: 6.25em;
  }

  .selectionLbl {
    height: 100%;
    width: 100%;
  }
  .selectionLbl img {
    height: 90%;
    width: 90%;
  }

  .infoSwitch {
    display: relative;
    font-size: 100%;
    margin: 1em;
    padding-inline: 1em;
    width: 24%;
    padding-block: 0.1rem;
    transition: 0s;

    &:hover {
      padding-inline: 4%;
      width: 22.5%;
      padding-block: 1%;
      margin: 2.5%;
    }
  }

  .itemContainer {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 430px) {
  .galleryPopup-Background {
    top: -150%;
    left: unset;
  }

  .galleryPopup-Background[data-active] {
    transform: translateY(150%);
  }
  .galleryPopup {
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-bottom: 4em;
  }

  #selectionBar input {
    display: none;
  }

  .selectionLbl table {
    padding: 0;
    margin: 0;
  }

  .selectionLbl td {
    padding: 0;
    margin: 0;
  }

  .selectionLbl img {
    height: 3em;
    width: 3em;
  }
  .selectionLbl h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }
}